*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}



body{
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 5px 10px black;
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000; /* Ensures navbar stays on top */
    background: white; /* Optional: prevents transparency issues */
}



header .logo{
font-weight: bolder;
font-size: 25px;
color: #333;
}



header .navbar ul{
    list-style: none;
    
}



header .navbar ul li{
    position: relative;
    float: left;
    margin-right: 30px;
    
}


header .navbar ul #topi {
  
  
    color: #000000;
   
}


header .navbar ul li a{
  
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
}


header .navbar ul #list li a:hover{
    background-color: #425062;
    color: white;
}


button{
    height: 40px;
    width: 100px;
    margin-top: 10px;
    margin-left: 35px;
    margin-right: 45px;
    border: 1px solid black;
    border-radius: 15px;
    color: white;
    background-color: #274268;
}




button:hover{

    box-shadow: rgb(0, 13, 95);
    transform: scale(1.02);
    color: white;
}

header .navbar ul li ul{
    position:absolute ;
    left: 0;
    width: 200px;
    background: #274268;
    display: none;
}


header .navbar ul  li  ul  li{
    width: 100%;
    border-top: 1px solid black;
   
}

header .navbar ul  li  ul  li ul{
    left: 200px;
    top: 0;
    background-color: black;
}


header .navbar ul  li:focus-within  > ul,
header .navbar ul  li:hover  > ul{
    display: initial;
}

